@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to BookLibrary. A webapp for registy your books. </p>
    <i class="bi bi-book-half " style="font-size: 6em"></i>
</div>