@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We take your privacy seriously, that's why we only keep them for the service only & not share them with other third part.</p>
<p>Your data is removed when account is deleted.</p>